.nav {
    width: 200px;
    float: left;
    background-color: #7777;
    border-style: solid;
    border-color: #777;
}

.nav-text {
    padding: 10px;
    margin: 15;
}

.message {
    font-size: 20;
    margin: auto;
    width: 50%;
}

.item {
    padding: 4px;
    font-size: 20;
    color: #666;
    text-decoration: none;
}

.item:hover {
    background-color: rgba(255, 255 , 255, 0.4);
}

iframe {
    border: 0;
    width: 900px;
    height: 700px;
    display: block;
    margin: auto;
}